.form {
  padding: 15px;
  width: 480px;
  margin-top: 3rem;
}

@media only screen and (max-width: 600px) {
  .form {
    width: 300px;
    padding: 10px;
  }
}

.form-label {
  display: block;
  margin-bottom: 0.5rem;
}

.form-textarea {
  /* Empirically found to be the width required to match
  preview background width. */
  width: calc(100% - 34px);
  font-size: 1.25rem;
  padding: 1rem;
  background: rgba(222, 237, 247, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.form-input {
  width: 2.5rem;
  font-size: 1.25rem;
  padding: 1rem;
  background: rgba(222, 237, 247, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.emoji-picker-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 400px;
  background: lightcoral;
}
